# *Data Science Test*

## **`Data Collection`**

#### MySQL Database
*marks - 30*

**Q1. Perform the following queries on the below questions:**
- Create a database named SchoolDB
- Use the database SchoolDB
- Create a table named Students with the following fields: StudentID, FirstName, LastName, DOB (Date of Birth), and Gender
- Create a table named Courses with the following fields: CourseID, CourseName, and Credits
- Create a table named Enrollments with fields: EnrollmentID, StudentID, CourseID, and Grade. Ensure StudentID and CourseID are foreign keys referencing the Students and Courses tables, respectively.
- Insert five students into the Students table and five courses into the Courses table.
- Enroll four students in various courses and assign grades.
- Write a query to display all students’ first names, last names, and dates of birth.
- Retrieve all the courses where students are enrolled. Display course names and student names (first and last).

#### Web Scraping
*marks - 20*

https://www.worldometers.info/coronavirus/

**Q2. Use the above mentioned url and scrape the data from table and store the data into a csv file.**

#### API

*marks - 10*

**Q3. What is API? Explain the working of API.**

**Q4. What are HTTP methods? Explain.**

**Q5. How can you make an API request using the requests library in Python? Provide an example of making a GET request.**

**Q6. Explain the difference between REST and SOAP APIs.**

## **`Statistics`**

*Marks - 50*

**Q1.You are given the following dataset of monthly salaries (in dollars) of 15 employees:**

[2500, 3000, 3200, 2800, 2700, 2900, 3100, 2600, 2750, 3500, 4000, 3600, 3200, 3300, 3400]

Calculate the mean salary.
Find the median salary.
Determine the mode of the dataset.

**Q2.Using the same dataset from Question 1, calculate the following:**

- Range of the salaries.
- Variance of the salaries.
- Standard deviation of the salaries.
- Explain what these statistics tell you about the distribution of the salaries.

**Q3.Given the dataset of salaries from Question 1:**

- Calculate the first quartile (Q1), second quartile (Q2/median), and third quartile (Q3).
- Compute the Interquartile Range (IQR).

**Q4.You are given the following ages (in years) of 20 employees:**

    [23, 26, 31, 35, 37, 42, 28, 33, 29, 34, 38, 40, 32, 30, 36, 27, 45, 39, 41, 43]

- Create a grouped frequency table for the data. You can use either inclusive or exclusive method.

**Q5.A survey is conducted to study the heights of a group of students. The data is collected and follows a normal distribution with a mean height of 160 cm and a standard deviation of 8 cm.**

- What percentage of students have heights between 152 cm and 168 cm?
- If 200 students are surveyed, how many would you expect to have heights above 176 cm?

## **`NumPy`**

*marks - 50*

**Q1.Create a 1D NumPy array of integers from 1 to 10 and reshape it into a 2D array with 2 rows.**

**Q2.Given two arrays, a = np.array([1, 2, 3]) and b = np.array([4, 5, 6]), concatenate them horizontally and vertically. Show the results.**

**Q3.Create a 5x5 matrix with values ranging from 0 to 24, and extract the last two rows.**

**Q4.Assume you have a file data9.txt with the following content:**
    
            Item,Cost,Quantity
            Laptop,999.99,1
            Mouse,25.50,2
            Keyboard,45.99,1
- read the data, and calculate the total cost for each item and display the results.

**Q5. Write a function that increases the brightness of an image by a given factor using NumPy.**

## **`Pandas`**

https://grrasteam-my.sharepoint.com/:f:/g/personal/deepratan_grrassolutions_in/EkRzEyGG3hpKjxiSs0v5k8UBdqh176G-ZPReIx0T0spDzA?e=9njvgh

marks: 50

Use the cars dataset, answer the following questions:
1. Write a query to create a table called used_cars from data.
2.  Write queries to see how many missing values you have in each attribute?
    Based 
on the results, document how many missing values in each column we have
     Especially,
mention those columns with more than 50% missing value
3. Group the price column and count the number of unique prices. Do you notice if there 
is a single price that is repeating across the ads
4. Write a query to create a new table called clean_used_cars from used_cars with
the following condition

    o Drop the columns with more than 50% missing values 
    
o The manufacture year between 2000 and 2017 including 2000 and 2017     
o Both maker and model exist in the row     
o The price range is from 3000 to 2000,000 (3000 ≤ price ≤ 2000,0
   
6. Write a query to find how many records remained clean_used_cars
7. Write a query to find the make and model for the cars with the top 10 highest 
average pric
8. Write a query to find the make and model for the cars with the top 10 lowest 
average pric
9. Write a query to recommend top five make and model for Economic segment 
customers (Top five manufacturers in the 3000 to 20,000 price range;3000≤price<20,000) - 
based on the top average pri
10. Write a query to recommend top five make and model for Intermediate segment 
customers (Top five manufacturers in the 20,000 to 300,000 price range; 
3000≤price<20,000) - based on the top average pri.
11. Write a query to recommend the top five make and model for the Luxury segment 
customers (Top five manufacturers in the 300,000 to 2000,000 price range; 
300,000≤price<2000,000) - based on the top average price cecee e
 00)00)

## **`Data Visualization`**
*Matplotlib & Seaborn*

*Marks - 50*

https://www.kaggle.com/datasets/ramjasmaurya/exports-and-imports-of-india19972022

**Q1.Use the import & export dataset, answer the following questions:**
    
- Top 10 Trade partners of india with highest average Total Trade
- Top 10 countries India has highest average Trade Balance with
- Top 10 Trade partners of india based on Average Total Trade
- Create a line plot showing the total exports and imports of India across all countries from 1997 to 2022.
- Create a pie chart showing the share of exports from India to different countries in a year 2020.